/* contact.css */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "DM Sans", serif !important;
}

.container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 96px;
}

.container p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.container .form-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.container .form-contact .mb-3 {
    margin-right: 20px;
    width: 48%;
}

.full-width-input .input-group {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
}

.full-width-input .form-control {
    width: 100%;
}


.menu {
    display: flex;
    justify-content: center; /* Canh giữa */
    align-items: center;
    gap: 30px; /* Tạo khoảng cách giữa các liên kết */
    margin: 0;
    padding: 0;
}


.container-fluid{
    padding: 26px 40px !important;
}
.container-fluid .book{
    background-color: white !important;
    color: black;
    padding: 10px 20px !important;
    text-decoration: none;
    border-radius: 50px;

}
.container-fluid img{
    width: 70%;
}

.nav-link{
    font-weight: 600 !important;
    font-size: 18px !important;
}

.divphuj{   
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
}

.divphuj .baodiv .icons a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.divphuj .baodiv .icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.divphuj .baodiv{
    text-align: center;
}
