*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Playfair Display", serif;
}

.container{
    justify-content: center;
    align-items: center;
    width: 100%;
}


.container .hack1 .ourmenu {
    font-size: 100px;
    text-align: center;
}

.container .hack1 .para1{
    font-size: 18;
    text-align: center;
}
.container .container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .buttons .buton{
    border-radius: 20px;
    width: 120px;
    height: 40px;
    margin-left: 20px;
    
}


















































































































































