*{
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none;
    font-family: "DM Sans", serif !important;
}

.container {
    background-image: url(../images/Home-main.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100% !important;
    max-width: 100vh !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center !important;

}

.container h2 {
    font-size: 100px;
    font-weight: 400;
    line-height: 96px;


}

.container p{
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    margin-top: 30px !important;
}

.container .btn-container{
    margin-top: 20px;
}

.container .btn-container .btn1 {
    border-radius: 20px;
    background-color: #AD343E;
    font-size: 16px;
    color: white;
    padding: 10px 20px !important;
    border-color: #AD343E;
    margin-right: 30px !important;
    margin-top: 25px !important;
} 

.container .btn-container .btn2{
    border-radius: 20px;
    font-size: 16px;
    padding: 10px 20px !important;
    border-color: black;
}

.menu {
    display: flex;
    justify-content: center; /* Canh giữa */
    align-items: center;
    gap: 30px; /* Tạo khoảng cách giữa các liên kết */
    margin: 0;
    padding: 0;
}

.menu a {
    padding: 0; /* Loại bỏ padding nếu có */
    margin: 0; /* Loại bỏ margin nếu có */
}

.container-fluid{
    padding: 26px 40px !important;
}
.container-fluid .book{
    background-color: white !important;
    color: black;
    padding: 10px 20px !important;
    text-decoration: none;
    border-radius: 50px;

}
.container-fluid img{
    width: 70%;
}

.nav-link{
    font-weight: 600 !important;
    font-size: 18px !important;
}

.divphuj{   
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
}

.divphuj .baodiv .icons a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.divphuj .baodiv .icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.divphuj .baodiv{
    text-align: center;
}

