.menu{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
}

.menu a{
    margin-left: 60px;
}

.container-fluid{
    padding: 26px 40px !important;
}
.container-fluid .book{
    background-color: gainsboro;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;

}
.container-fluid img{
    width: 70%;
}


.divphuj{   
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
}

.divphuj .baodiv .icons a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.divphuj .baodiv .icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.divphuj .baodiv{
    text-align: center;
}
