h1{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    color:black;

}

*{
    display: flex;
    align-items: center;
    justify-content:center;
    text-decoration: none;
}