<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Home.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h2>Best food for <br>
            your taste</h2>
        <p>Discover delectable cuisine and unforgettable moments in our welcoming, culinary haven.</p>
        <div class="btn-container">
            <button class="btn">Book a Table</button>
            <button class="btn">Discover Menu</button>
        </div>

    </div>
</body>

</html>