.row {
    display:flex;
    justify-content:space-between;
    background-color:aquamarine;
}

.row .card-body{
    display:flex;
    justify-content:space-between;
    background-color:aquamarine;
}

.row .avt{
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
}
.row .card-body{
    display:flex;
    justify-content:center;
    align-items: flex-end;
}

.row .avt img{
    border-radius: 20px;
}

.row .input-group-mb-3{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


