*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: var(--h-cl);
    --t-cl: #FFFFFF;

}
:root{
    --h-cl: #1C1E53;
    --t-cl: #FFFFFF;
    --bd-cl: #BBBBCB;
    --btn-cl: #333333;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}
.navbar a{
    color: var(--t-cl);
    text-decoration: none;
}

.navbar .menu{
    display: flex;
}
.navbar .menu a{
    padding: 20px;
    color: var(--t-cl);
}
.navbar .menu .btn{
    border-radius:41px;
    color: var(--btn-cl);
    background-color: var(--h-cl);
    padding: 0px 30px;
    color: var(--bd-cl);
    transition-duration: 0.4s;
}

.navbar .menu .btn:hover{
    background-color: var(--btn-cl);
}



 

